a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
}
.header_body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(232,227,207,255) ;
}
.header{
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    justify-content: center;
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgb(141, 234, 84), rgb(135, 218, 84));
    color: white;
    font-size: 25px;
    width: 600px;
    border-radius: 30px;
    border:3px solid rgba(232,227,207,255) ;
}

.header_section{
    display: flex;
    align-items: center;
}
.name{
    font-size: 30px;
}
.item{
    color: rgb(255, 255, 255);
    margin: 40px;
}
.item:hover{
    border-bottom: 3px solid white;
}
